*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        120deg,
        #0f0f0f,
        #272727,
        #003c44,
        #0f2027
    );
    background-size: 300% 300%;
    animation: bgMove 12s ease-in-out infinite;
}
@keyframes bgMove {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.card{
    width: 60%;
    height: auto;
    max-width: 400px;
    padding: 20px 28px;
    border-radius: 12px;
    color:rgb(240, 248, 255);
    background: linear-gradient(
        135deg,
        hsl(312, 77%, 14%),
        #2e282d,
        #213c47,
        #288b8b
    );
    backdrop-filter: blur(6px);
    background-size: 300% 300%;
    animation: cardGradient 10s ease-in-out infinite,
               floatCard 6s ease-in-out infinite;
    box-shadow: 
        2px 20px 20px 2px rgba(14, 13, 13, 0.856);
    display: flex;
    flex-direction: column;
    gap: 6px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
@keyframes floatCard {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-8px); }
    100% { transform: translateY(0); }
}
@keyframes cardGradient {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.card:hover{
    box-shadow: 
        0 20px 40px rgba(255, 255, 255, 0.6);
    transform: translateY(-10px);
    transition: all 0.4s ease;
}

.card header{
    text-align: center;
    font-weight: bold;
    font-size: 27px;
     background: linear-gradient(
        90deg,
        #00ff15,
        #4da3ff,
        #9f7aea,
        #00ffff
    );
    background-size: 300% 100%;
    animation: textGradient 6s linear infinite;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes textGradient {
    0%   { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.card h2{
    text-align: center;
    font-size: 20px;
}
.card h4{
    font-weight: 500;
    text-align: center;
    font-size: 13px;
    margin-bottom: 0px;
}
.card p{
    text-align: center;
    font-size: small;
    font-weight: 100;
}

.info-list{
    margin: 10px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-list li{
    line-height: 1.4;
    color: antiquewhite;
}

.label{
    font-weight: 600;
}

.links{
    display: flex;
    gap: 15px;
    justify-content: center;
}

.links a{
    text-decoration: none;
    color: rgba(0,195,255,0.9);
    font-weight: 500;
}
.links a:hover{
    color: red;
    text-decoration: underline;
}

@media (max-width: 400px){
    .card{
        width: 90%;
        padding: 16px;
    }
    .card h2{
        font-size: 18px;
    }
    .card ul{
        padding: 5px 10px;
    }
}

